* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 60px;
}

.layanan {
    background-image: url(https://circleboom.com/blog/content/images/size/w600/2024/02/How_do_I_delete_posts_I-ve_liked_on_Twitter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-atas {
    background-color: #41AB5D;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    height: 60px;
}

.nav-atas .title a {
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.nav-atas ul {
    margin-left: auto;
    display: flex;
}

.nav-atas ul li {
    height: 60px;
    list-style: none;
}

.nav-atas li a{
    font-size: 13px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}

.nav-atas li a:hover {
    background-color: rgba(255,255,255,0.1);
    transition: 0.3s;
}

.nav-atas li a.active {
    background-color: rgba(0,0,0,0.15);
}

.member {
    display: flex;
}

.member .card { 
    position: relative;
    width: 23%;
    height: 80vh;
    margin: 20px 0px 0px 20px;
    background-color: rgba(0,0,0,0.8);
    border: solid thin black;
    box-shadow: 0 0 10px #000000;
}

.member .card .text {
    color: white;
    padding: 15px 0 0 22px;
}

.member .card h1 {
    font-size: 20px;
}

.card .harga {
    font-size: 35px;
    font-weight: bolder;
}

.card p {
    font-size: 10px;
    font-weight: lighter;
}

.card .tag {
    display: flex;
    align-items: baseline;
}

.card hr {
    margin-top: 20px;
    margin-right: 20px;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-top: 15px;
}

.card .button {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    margin: 100px 0 30px 0;
    justify-content: center;
}

.card .button a {
    font-size: 13px;
    display: inline-block;
    padding: 10px 30px;
    border: thin solid #41AB5D;
    background-color: #41AB5D;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.card .button a:hover {
    background-color: rgba(0,0,0,0);
    border: thin solid #41AB5D;
    color: #41AB5D;
    transition: 0.2s;
}




.form-order {
    background-color: #deffe7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: none;
    margin: 30px;
    border-radius: 5px;
    padding: 0 20px;
}

.form-head h1 {
    font-size: 42px;
    color: #41AB5D;
    font-weight: bolder;
    padding: 10px 0 0 0;
}

.form-head h2 {
    padding: 5px 0 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.form-body {
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #4f4f4f;
    font-size: 12px;
    width: 100%;
    column-gap: 40px;
}
    
.form-input.full {
    grid-column: 1 / -1;
}

.form-input textarea {
    padding: 10px;
    width: 100%;
    max-width: 560px;
    border: solid thin rgba(0, 0, 0, 0.2);;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.form-input textarea:focus {
    outline: none;
    border: 1.5px solid #41AB5D;
}

.form-input label {
    display: block;
    margin: 20px 0 10px 0;
}

.form-input input, select {
    padding: 0 10px;
    border-radius: 3px;
    border: solid thin rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 35px;
}

.form-input select{
    cursor: pointer;
}

.form-input input:focus, select:focus {
    outline: none;
    border: 1.5px solid #41AB5D;
}

.form-input .button {
    margin-bottom: 30px;
    margin-top: 80px;
}

.form-input .button .right {
    justify-self: end;
}

.form-input .button a {
    font-size: 13px;
    display: inline-block;
    padding: 10px 30px;
    border: thin solid #41AB5D;
    background-color: #41AB5D;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.form-input .button a:hover {
    background-color: #FFFFFF;
    border: thin solid #41AB5D;
    color: #41AB5D;
    transition: 0.2s;
}

.form-body .price {
    background-color: #FFFFFF;
    border: solid thin rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    margin-top: 45px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.form-body .price h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.form-body .price h2 {
    margin-top: 5px;
}

.form-body .price .produk {
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 100%;
}

.form-body .price .produk .quantity {
    justify-self: end;
}

.form-body .price p {
    font-size: 13px;
}

.form-body .price .dotted-line hr {
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px dashed #9A9A9A;
}
